# --- SECRETS ---
.env
.env.*
!.env.example
*.pem
credentials

# --- Build do Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar

# --- IDEs ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# --- SO ---
.DS_Store

# --- Logs ---
*.log
